@import url('https://fonts.googleapis.com/css?family=Raleway');
:root {
    --main-bg-color: rgb(2, 18, 36);
    --main-bg-color-lighted: rgb(44, 58, 73);
    --rhombus-color: rgb(35, 49, 82);
    --rhombus-border-color: #131c38;
    --main-color: #095ea4;
    --secondary-color: #f6a460;
    --main-gradient: rgb(133,201,233);
}

.bg-main-color {
    background-color: var(--color-main);
}

html {
    scroll-padding-top: 70px; /* height of sticky header */
    scroll-behavior: smooth;
  }


body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.15rem;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}
/* Slider 1*/

/*Navigation*/
.intro-header{
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    z-index: 1000;
    width: 100%;
    background-image: linear-gradient(var(--main-gradient),var(--main-color));
    font-size: 16px;
    text-transform: uppercase;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 0.5%;
}

.nav-link{
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: 0 20px;
    display: inline-block;
    position: relative;
    transition: color .2s ease-in;
}

.nav-link:hover{
    color: var(--rhombus-color);
    
}

.nav-link::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: var(--rhombus-color);
    position: absolute;
    opacity: 0;
    transition: all .2s ease-in;
    
}
.nav-link:hover::after{
    opacity: 1;
    
}
    /*nav toggle*/
.nav-toggle{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    z-index: 1;
    padding: 15px 0;
    border: 0;
    background: none;
    cursor: pointer;
    display: none;
}

.nav-toggle-item{
    width: 100%;
    height: 3px;
    display: block;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    /* transition: all 0.2s ease; */
}

.nav-toggle-item::before, .nav-toggle-item::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    transition: transform 0.2s ease;
}

.nav-toggle-item::before{
    top: -11px;
}

.nav-toggle-item::after{
    top: 11px;
}

/*Background*/
.slider-intro-background {
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg-color);
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(100, 20px);
    grid-template-rows: repeat(100, 60px);
}

.background-lighted {
    height: 300px;
    width: 300px;
    border: var(--main-bg-color) solid;
    background-color: var(--main-bg-color-lighted);
    box-shadow: inset 0 0 45px 50px var(--main-bg-color);
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 150px;
    left: 150px;
    border-radius: 50%;
}

.rhombus {
    width: 40px;
    height: 40px;
    margin-left: -5px;
    transform: scale(0.5, 1) rotateZ(45deg);
    position: relative;
    border: 1px var(--rhombus-border-color) solid;
    border-radius: 8px;
    transition: transform 0.9s ease-in-out;
    background: conic-gradient(var(--rhombus-color),rgb(0, 0, 0),var(--rhombus-color));

}

.rhombus:hover {
    transform: scale(0.7, 1.4) rotateZ(45deg);
    transition: transform 0.05s ease-in-out;
    
}

.rhombus-offset {
    margin-left: -45px;
    margin-top: -30px;
}

/*Slider-1 Title*/
.slider1-caption{
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    color: white;
    top: 40%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pre-caption-container{
    display: flex;
    justify-content: center;
}
.slider1-title{
    font-size: 5rem;
    
}

.slider1-title+h2{
    margin-top: 10px;
    font-size: 2.2rem;
    font-weight: normal;
    }

/* Slider-1 button */
.btn{
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    border: 2px white solid;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: var(--main-bg-color);
}
.btn:hover{
    background-image: linear-gradient(var(--main-gradient),var(--main-color));
}

/* Slider-2 */
.slider-2-container{
    text-align: center;
}
.slider-2-container>h1{
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-top: 5%;
    margin-bottom: 5%;
    color: var(--main-bg-color);
}

.about-container{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.avatar{
    border-radius: 50%;
    padding: 10px;
}
.about-text{
    border-left: 3px var(--secondary-color) solid;
    margin-left: 30px;
    font-size: 2rem;
    padding: 0 5%;
    color: var(--main-bg-color);
    text-align: left;
}

/* Slider-3 */
.slider-3-container>h1{
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    color: var(--main-bg-color);
    
}

.skills-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.bar-container{
    background-color: var(--secondary-color);
    margin: 10px 1%;
    border-radius: 5px;
}
.progress{
    background-color: var(--main-color);
    z-index: 1;
    padding: 6px 10px 5px 15px;
    color: var(--secondary-color);
    font-weight: bold;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    max-width: 90%;
}

.progress>span{
    margin-left: 30px;
    font-family: Courier, monospace;
    font-weight: normal;
}

/* Slider-4 */
.slider-4-container>h1{
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    color: var(--main-bg-color);
}

.projects-thumbnails{
    border: 3px var(--main-color) solid;
    border-radius: 3px;
    transition: transform .5s ease-in-out;
    width: 100%;
}

.projects-thumbnails:hover{
    transform: scale(1.1, 1.1);
    transition: transform .5s ease-in-out;
}


.projects-content{
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
}

.projects-content>div{
    width: 300px;
    text-align: center;
    margin: 20px 20px;
}
h3{
    color: var(--main-bg-color);
    font-weight: normal;
    letter-spacing: 0.01rem;
    margin: 0;
    text-align: left;
}
/* Slider-5 Contacts*/
.slider-5-container>h1{
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    color: var(--main-bg-color);
}
.contacts-content{
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: auto;
    margin-right: auto;
}

.links{
    padding: 30px;
    text-align: center;
}

.links > div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 4rem;
    grid-gap: 10px;
    }

i{
    color: var(--main-color);
    transition: color 0.3s ease-in-out;
}
i:hover{
    color: var(--secondary-color);
}

.links>h2{
    color: var(--main-bg-color);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
}
.contacts-form{
    display: flex;
    flex-direction: column;
}
.form-control{
    margin: 5px 0;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 5px;
    border: 1px var(--main-color) solid;
}
.form-control:focus{
    outline: none;
    border: 1px var(--secondary-color) solid;
}
#textarea{
    font-size: 1rem;
    height: 6rem;
}
.submit{
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 5px;
    color:white;
    background-color: var(--main-color);
    border: 0;
    transition: background-color 0.3s ease-in-out;
}

.submit:hover{
    background-color: var(--secondary-color);
}

@media (max-width:900px){
    .skills-content{
        width: 90%;
    }
}

@media (max-width:800px){
    .background-lighted{
        display: none;
    }

    .intro-header{
        align-items: center;
    }
    .about-container{
        flex-direction: column;
        width: 80%;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 100%;
        left : 0;
        background-image: linear-gradient(var(--main-gradient),var(--main-color));
        width: 100%;
    }
        
    .nav-link{
        margin: 0;
        padding: 15px 30px;
        display: block;

    }
    .nav-toggle{
        display: block;
    }

    .nav-toggle.active .nav-toggle-item{
        background: 0;
    }
    .nav-toggle.active .nav-toggle-item::before{
        transform-origin: left top;
        transform: rotate(45deg);
    }

    .nav-toggle.active .nav-toggle-item::after{
        transform-origin: left bottom;
        transform: rotate(-45deg);
    }
    .nav-toggle.active .nav-toggle-item{
        background: 0;
    }

    .about-text{
        border-top: 3px var(--secondary-color) solid;
        border-left: none;
        font-size: 1rem;
    }
    .skills-content{
        grid-template-columns: 1fr;
    }
    .projects-content{
        flex-direction: column;
        align-items: center;
    }

    .contacts-content{
        width: 60%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}
